

.train-actions {
    padding: 10px;
    border-bottom: solid rgb(64,196,255) 1px;
    margin-bottom: 5px;
}

.button-danger {
    background-color: red;
}


.collection-item p {
    color: rgba(0, 0, 0, 0.5);
}

.fixedbutton {
    /*position: fixed;*/
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 600px;

    z-index: 100;
}
.debug-network {
    overflow: auto;
    position: absolute;
    height:80%;
    width: 100%;
}