<!-- Navigation ------------------------------------ -->
<nav class="nav-extended">
    <div class="nav-wrapper">
        <!-- connection indicator -->
        <ul class="right">
            <li><a [ngClass]="connected ? 'green-text' : 'red-text'" class="btn white btn-flat no-select">{{connected ? 'connected' : 'not connected'}}
                <i [ngClass]="connected ? 'green-text' : 'red-text'" class="material-icons red-text right">{{connected ? 'wifi' : 'wifi_off'}}</i></a></li>
        </ul>

        <ul class="right" *ngIf="state.training">
            <li>
                <a class="green-text btn white btn-flat no-select">
                    Training
                    <app-progress-indicator class="right" style="margin-top: 5px; margin-left: 10px;"></app-progress-indicator>
                </a>
            </li>
        </ul>

        <div class="col s12" id="nav-at" style="margin-left: 20px">
            <a class="breadcrumb no-select" id="home"><i routerLink="/" class="material-icons">home</i></a>
        </div>
    </div>

    <!-- Tabs Network -->
    <div class="nav-network"  *ngIf="routedComponent == 'ProjectComponent'">
        <ul class="tabs tabs-transparent" materialize="tabs">
            <li class="tab">
                <a class="active" href="#tab-networks">Dataset</a></li>
            <li class="tab" [class.disabled]="state.routedModelId === undefined">
                <a href="#tab-edit">Model Definition</a>
            </li>
            <li class="tab" [class.disabled]="state.routedModelId === undefined">
                <a href="#tab-train">Model Training</a>
            </li>
        </ul>
    </div>

    <!-- Tabs DataStructure -->
    <div class="nav-dataStructure" *ngIf="routedComponent == 'ProjectsAndSettingsComponent'" >
        <ul class="tabs tabs-transparent " materialize="tabs">
            <li class="tab"><a href="#tab-dataStructure">Projects</a></li>
            <li class="tab"><a href="#tab-generalSettings">Settings</a></li>
        </ul>
    </div>
</nav>

<router-outlet (activate)="onRouteChange($event)"></router-outlet>

<!--<p>Net: {{routedComponentObj.networkID === undefined}}</p>-->
<app-backend-console></app-backend-console>