<h2>Test Playground</h2>
<div class="card" >
    <div class="card-content">
        <div class="card-title">app-model-editor</div>
        <div class="col s12 card-content">
            <div class="btn" (click)="editor.modelFromJson(this.editor.modelJson);">reset</div>
            <app-model-editor #editorEl></app-model-editor>
        </div>
    </div>
</div>

<div class="card" >
    <div class="card-content">
        <div class="card-title">chart-plotly</div>
        <div class="col s12 card-content">
            <!--<chart-plotly></chart-plotly>-->
        </div>
    </div>
</div>