
<!-- Button New -->
<div class="fixed-action-btn">
  <a href="#modal-new-network" class="btn-floating btn-large waves-effect waves-light tooltipped modal-trigger"
     data-position="left" data-tooltip="new network"><i class="material-icons">add</i></a>
</div>

<!-- Models List -->
<div class="col s12 networks no-select list" >
  <div class="card" *ngFor="let model of models | async" routerLink="/project/{{projectID}}/model/{{model.id}}">
    <div class="card-content">
      <i class="material-icons left medium">timeline</i>
      <a app-click-stop-propagation="" class="waves-effect waves-light btn-flat red lighten-1 right white-text" (click)="$event.stopPropagation(); removeNet(model); "> <i class="material-icons small" >delete</i> </a>
      <div class="card-title">{{model.name}}</div>
      <p>ID: {{model.id}}</p>
    </div>
  </div>
</div>
<br><br><hr>

<!-- DataStructure Params -->
<div class="col s12 networks list" >
  <div class="card" *ngIf="project.getValue() != undefined" style="cursor: auto">
    <div class="card-content">
      <span class="card-title">{{project.getValue().name}}</span>
      <p>Data-records: <b>{{project.getValue().dataRecords}}</b></p>
      <p>Outputs: {{getNamesOf(project.getValue().outputNames)}}</p>

      <div *ngIf="project.getValue().type == 'function'">
        <p>Function:  <b>{{project.getValue().function}}</b></p>
        <br>
        <h6>Inputs:</h6>
        <table class="col s12 m12">
          <tbody>
          <tr *ngFor="let input of project.getValue().inputRanges; let index = index">
            <td>
              <label>Name: </label>
              <p>{{getInputnameById(index)}}</p>
            </td>

            <td>
              <label>From: </label>
              <input style="width: 3em; margin-bottom: 0px;" type="number"
                     [(ngModel)]="input.from" />
              <label> To: </label>
              <input style="width: 3em; margin-bottom: 0px;" type="number"
                     [(ngModel)]="input.to"/>
              <label> Steps: </label>
              <input style="width: 3em; margin-bottom: 0px;" type="number"
                     [(ngModel)]="input.steps"/>
            </td>
          </tr>
          </tbody>
        </table>
        <!--{{dataStructure.getValue() | json}}-->
    </div>

    </div>
  </div>
</div>

<!-- Modal new Model -->
<div id="modal-new-network" class="modal" materialize="modal">
  <div class="modal-content" [formGroup]="formNew">
    <h4 style="margin-bottom: 20px">New model</h4>

    <div class="input-field col s12">
      <input formControlName="name" id="txt-name-net" type="text">
      <label for="txt-name-net">model name</label>
    </div>

    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect  btn-flat red white-text">Cancel</a>
      <a id="bt-new-network" (click)="createModel()" class="modal-action modal-close waves-effect waves-green btn-flat green white-text">Create</a>
    </div>
  </div>
</div>
