<div class="row" *ngIf="settings != undefined">
    <div class="col s12">
        <div class="card">
            <div class="card-content">

                <a id="bt-startTrain" class="waves-effect waves-light btn red" (click)="onTriggerStopServer()"><i
                        class="material-icons right">stop</i>Stop Server</a>
                <br><br>
                <div *ngFor="let set of settingsKeys">
                    <label>
                        {{set}}
                    </label>
                    <input *ngIf="!isObject(set)" (change)="update(set, $event.target.value)"
                           type="{{ isNumber(set) ? 'number' : 'text' }}" value="{{settings[set]}}">
                    <app-selection-view *ngIf="isObject(set)" [optionObject]="settings[set]" [key]="set">
                    </app-selection-view>
                </div>
            </div>
        </div>
    </div>
</div>