
<!-- Tabs Network -->
<!--
<div class="nav-network"  >
    <ul class="tabs tabs-transparent" materialize="tabs">
        <li class="tab"><a href="#tab-train">Train</a></li>
        <li class="tab"><a class="active" href="#tab-networks">Networks</a></li>
        <li class="tab disabled"><a href="#tab-run">Run</a></li>
        <!--<li class="tab disabled"><a href="#tab-settings"><i class="material-icons">settings</i></a></li>--#>
    </ul>
</div>
-->



<div id="tab-train" class="col s12">
    <app-network-train></app-network-train>
</div>

<div id="tab-networks" class="col s12">
    <app-networks></app-networks>
</div>

<div id="tab-run" class="col s12">
    Run coming soon...
</div>
