<div class="row">
  <div class="col s12">
    <div class="card" [formGroup]="trainParams">
      <div class="card-content">
        <div class="row s12">
          <a id="bt-startTrain" class="waves-effect waves-light btn green" (click)="onTriggerTrain(true)"><i class="material-icons right">play_arrow</i>start train</a>
          <a id="bt-stopTrain" class="waves-effect waves-light btn orange"    (click)="onTriggerTrain(false)"><i class="material-icons right">stop</i>stop train</a>
          <a class="waves-effect waves-light btn red"    (click)="onTriggerResetModel()"><i class="material-icons right">delete_forever</i>reset model</a>
        </div>

        <div class="row s12">
          <div class="input-field col s2">
            <select id="train-optimizer" materialize="material_select" formControlName="optimizer">
              <option value="sgd" >Stochastic Gradient Decent</option>
              <option value="rms" >RMSProp (comming later)</option>
              <option value="ada" disabled>Adagrad (comming later)</option>
            </select>
            <label for="train-optimizer">Optimizer</label>
          </div>
          <div class="input-field col s2">
            <input value="0.0" id="train-learnRate" min="0" step="0.01" type="number" formControlName="learnRate">
            <label for="train-learnRate">Learn rate</label>
          </div>
          <div class="input-field col s2">
            <input min="0" step="0.01" type="number" formControlName="weightDecay">
            <label>Weight decay</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- charts -->
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Charts</span>

        <div class="row">
          <h6>Loss</h6>
          <div class="col s12 m6">
            <chart-series #networkProgressChart></chart-series>
          </div>
          <div class="col s12 m6">
            <p>Loss: <b>{{lastProgressValue}}</b></p>
          </div>
        </div>

        <div class="row">

          <div class="col s12 m6">
            <h6>Network output</h6>
            <chart-range #networkChart></chart-range>
          </div>

          <div class="col s12 m6">
            <h6>Training data</h6>
            <chart-range #dataChart>
                    <!--[inputs]="[ {id: 0, name: 'x'}, {id: 10, name: 'y'}, {id: 2, name: 'z'}, {id: 3, name: 'u'} ]"
                    [outputs]="[{id: 0, name: 'f(x, y, z, u)'}]">-->
            </chart-range>
          </div>
        </div>

        <div class="col s4 m2">
          <p></p>
        </div>

      </div>
    </div>
  </div>
</div>