<div style="">
  <div class="row s12">
    <!-- editor panel ------------------------------------------------ -->
    <div class="col s9 backgroundCol" >
      <div style="" class="blueprintBackground" #editorPanel>
        <div style="position: absolute;">
          <template #connectionsEl></template>
          <template #nodesEl></template>
        </div>
      </div>
    </div>

    <!-- side bar ------------------------------------------------ -->
    <div class="col s3">
      <h5>Add Layer</h5>
      <div class="btn waves-effect btn-n-node" (click)="createNode('FullyConnected')">Fully-Connected</div>
      <div class="btn btn-n-node" (click)="createNode('Activation')">Activation</div>
      <div style="margin-top: 40px">
        <div class="btn waves-effect green" (click)="saveModel()">Save Model <i class="material-icons right">save</i></div>
      </div>
      <pre>{{modelJson | json}}</pre>
    </div>

  </div>
</div>